<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PlanningWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PlanningWSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44338/PlanningWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="PlanningWSSoap" contract="PlaningService.PlanningWSSoap"
                name="PlanningWSSoap" />
        </client>
    </system.serviceModel>
</configuration>